.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/app/*
!storage/app/.gitignore
!storage/app/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
skillconnect_mobile/build
skillconnect_mobile/.dart_tool
skillconnect_mobile/.pub-cache
skillconnect_mobile/android/.gradle
docker-compose*.yml
